.glass-div {
    border-radius: 10px;
    border: 1px solid #bbb;
}

.background {
    height: 450px;
    width: 315px;
    margin: 15px;
    background: #fff;
}

.glass-back {
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ddd;
    padding: 3px 5px 0px 5px;
    text-align: center;
}

.glass-front {
    height: 400px;
    width: 300px;
    background: rgba(179, 171, 171, 0.5);
    position: relative;
    overflow: hidden;
}